.btn{
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    width: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0px;
} 
.btn-primary{
    background-color:#768beb;
    color: white;
}

.btn-secondary{
    background-color: white;
}

.btn-primary:hover{
    /* transform: scale(1.2);  */
    background-color: #8497eb !important;
} 

.show-color{
    width: 200px !important;
    height: 200px !important;
    border: black solid;
    margin:  30px;
} 


